<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="margin-left: 56px;">
    <li class="breadcrumb-item"><a th:href="@{/ui/}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Report</li>
  </ol>
</nav>
<div class="container-fluid jumbotron">
  <div class="form-row ">
    <div class="form-group col-md-6">
      <label for="fromDate">From</label>
      <input type="date" class="form-control"  placeholder="Date" id="fromDate">
    </div>
    <div class="form-group col-md-6">
      <label for="toDate">To</label>
      <input type="date" class="form-control" id="toDate" placeholder="Date">
    </div>
</div>
  <div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="brandInputReports">Brand</label>
        <input type="text" class="form-control"  placeholder="Brand" id="brandInputReports">
      </div>
      <div class="form-group col-md-6">
        <label for="categoryInputReports">Category</label>
        <input type="text" class="form-control" id="categoryInputReports" placeholder="Category">
      </div>
      <div>
      <button type="button" class="btn btn-primary" data-dismiss="modal" id="salesReportBtn" style="margin:5px;width:216px" onclick="salesReport()">Generate Sales Report</button>
      </div>
    </div>
<!--    <div>-->
<!--      <div>-->
<!--        <button type="button" class="btn btn-primary" data-dismiss="modal" id="brandReportBtn" style="margin-top:30px;width:216px" onclick="brandReport()">Generate Brand Report</button>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div>-->
<!--      <div>-->
<!--        <button type="button" class="btn btn-primary" data-dismiss="modal" id="inventoryReportBtn" style="margin-top:35px;margin-bottom:15px;width:216px" onclick="inventoryReport()">Generate Inventory Report</button>-->
<!--      </div>-->
    </div>
   </div>

<!--delete modal-->
<div class="modal" tabindex="-1" role="dialog" id="brandDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="confirmModalBody">
        <p>Do you want to delete ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="deleteModalBtn">Ok</button>
      </div>
    </div>
  </div>
</div>
<!--edit model-->
<div class="modal" tabindex="-1" role="dialog" id="brandEdit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editBrandForm" >
          <div id="modalFormDataDiv">
            <div class="form-group">
              <label for="brandInput">Brand</label>
              <input type="text" class="form-control" id="brandInput" name="brand" aria-describedby="text" placeholder="Enter Brand" autocomplete="off" minlength="1" onchange="changeBrand()">
            </div>
            <div class="form-group">
              <label for="categoryInput">Category</label>
              <input type="text" class="form-control" id="categoryInput"  name="category" aria-describedby="text" placeholder="Enter Category" autocomplete="off" minlength="1" onchange="changeCategory()">
            </div>
            <div id="modalFormErrorDiv" style="color:red; font-size: 14px;">
            <!--error-->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="EditModalBtn" ></button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!--upload modal-->
<div class="modal" tabindex="-1" role="dialog" id="bulkUpload">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div>
            <div class="form-group">
              <label for="formFile" class="form-label">Select TSV file for bulk upload</label>
              <input class="form-control" type="file" id="formFile" accept=".tsv">
            </div>
            <div id="uploadModalFormErrorDiv" style="color:red; font-size: 14px;">
              <!--error-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="uploadModalBtn" onclick="bulkAddBrand()">Upload</button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>

<script src="https://d3js.org/d3.v7.min.js"></script>
  <script th:src="@{/static/appReport.js}"/></script>
</body>
<script>
  $(document).ready(function() {
   document.getElementById("dropdownMenuButton").style.fontWeight = "bold";

});

</script>
</html>
